<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add  key="cron" value="*/5 * * * * ?"/>
    <!--<add  key="out-folder" value="E:\\bckfiles"/>-->
    <add  key="shell-command" value="bcp &quot;select top 10 * from rosas_hn.dbo.manager_task_detail with (nolock)&quot; queryout &quot;{fileName}&quot; -c -t &quot;|&quot; -S 120.25.238.73 -U web -P pass@word1 -k"/>
  </appSettings>
</configuration>