<?xml version="1.0" encoding="UTF-8"?>

<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 				version="2.0">

  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>

  <schedule>

    <job>
      <name>jobName1</name>
      <group>jobGroup1</group>
      <description>jobDesciption1</description>
      <job-type>Timer.ShellExecuter.Jobs.BackupJob, Timer.ShellExecuter</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>shell</key>
          <value><![CDATA[cmd.exe]]></value>
        </entry>
        <entry>
          <key>bat-path</key>
          <value><![CDATA[.\shells\bcp__manager_task_detail.bat]]></value>
        </entry>
        <entry>
          <key>out-folder</key>
          <value><![CDATA[.\outs]]></value>
        </entry>
        <entry>
          <key>file-name</key>
          <value><![CDATA[manager_task_detail]]></value>
        </entry>
        <entry>
          <key>file-format</key>
          <value><![CDATA[yyyyMMddHHmmss]]></value>
        </entry>
        <entry>
          <key>file-ext</key>
          <value><![CDATA[csv]]></value>
        </entry>
      </job-data-map>
    </job>

    <trigger>
      <cron>
        <name>sampleCronTrigger</name>
        <group>sampleCronGroup</group>
        <description>Cron trigger to simply fire sample job</description>
        <job-name>jobName1</job-name>
        <job-group>jobGroup1</job-group>
        <misfire-instruction>SmartPolicy</misfire-instruction>
        <cron-expression>0 30 0 * * ?</cron-expression>
      </cron>
    </trigger>
  </schedule>

</job-scheduling-data>
