<?xml version="1.0" encoding="UTF-8"?>

<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 				version="2.0">

  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>

  <schedule>

    <job>
      <name>TOP用户快速分析</name>
      <group>专家系统</group>
      <description>监听数据库中[manager_task_detail].[REPLY]字段,存在为1001的工单则计算问题原因</description>
      <job-type>Timer.Web.Core.Jobs.TuQuickAnalysisJob, Timer.Web.Core</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>shell</key>
          <value><![CDATA[./shells/tu_quick_analysis.sh]]></value>
        </entry>
        <entry>
          <key>shell-script-path</key>
          <value><![CDATA[./shells/tu_quick_analysis.sh]]></value>
        </entry>
        <entry>
          <key>db-type</key>
          <value><![CDATA[MySql]]></value>
        </entry>
        <entry>
          <key>conn-string</key>
          <value><![CDATA[Server=120.76.26.161;database=ROSAS;uid=cm;pwd=cm;ConvertZeroDateTime=True;Charset=utf8;SslMode=None]]></value>
        </entry>
        <entry>
          <key>notice-api</key>
          <value><![CDATA[http://120.76.26.161/TaskManagement/OnTuAnalysisFinished]]></value>
        </entry>
        <entry>
          <key>notice-api-2</key>
          <value><![CDATA[http://120.76.26.161/api/WorkorderService/BuildCellQuestion]]></value>
        </entry>
        <entry>
          <key>after-shell-sql</key>
          <value><![CDATA[算法执行完后的sql脚本]]></value>
        </entry>
      </job-data-map>
    </job>
    
    <job>
      <name>推送工单分析结果到浪潮</name>
      <group>专家系统</group>
      <description>对[manager_task_detail]表中[IID]不为空、[REPLY]为0、[cellsuggest]不为空的工单推送分析结果到浪潮</description>
      <job-type>Timer.Web.Core.Jobs.HttpGetJob, Timer.Web.Core</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>url</key>
          <value><![CDATA[http://120.76.26.161/api/CellIssueImformation/CallTuomingAnalysisAsync]]></value>
        </entry>
        <entry>
          <key>query</key>
          <value><![CDATA[]]></value>
        </entry>
      </job-data-map>
    </job>
    
    <trigger>
      <cron>
        <name>每5秒触发TOP用户快速分析任务</name>
        <group>专家系统</group>
        <description>CRON触发器</description>
        <job-name>TOP用户快速分析</job-name>
        <job-group>专家系统</job-group>
        <misfire-instruction>SmartPolicy</misfire-instruction>
        <cron-expression>*/5 * * * * ? *</cron-expression>
      </cron>
    </trigger>
    
    <trigger>
      <cron>
        <name>每4小时触发推送工单分析结果到浪潮</name>
        <group>专家系统</group>
        <description>CRON触发器</description>
        <job-name>推送工单分析结果到浪潮</job-name>
        <job-group>专家系统</job-group>
        <misfire-instruction>SmartPolicy</misfire-instruction>
        <cron-expression>0 0 */4 * * ? *</cron-expression>
      </cron>
    </trigger>
  </schedule>

</job-scheduling-data>
